<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "LandingPageStyle.css"> </link>
</head>
<body>
    <div class="big-image">
        <div class="overlay">
          <h1>ECO-HERO</h1>
          <p>SAVE THE WORLD, SAVE YOUR BILLS.</p>
        </div>
      </div>

    <div class="get-started">
        <img class = "img-logo" src ="../assets/icon.png">
        <div class = "slogan">
            <h1>All your bills at the tip of your fingers</h1>
        </div>
        <button class="get-started-btn">Get Started</button>
        
    </div>
</body>
</html>